@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 2vw, 3rem);
  flex-wrap: nowrap;
}

.grid {
  --grid-size: 30px;
  --grid-color: var(--secondary-color);
  --grid-blur: 1px;
  position: absolute;
  bottom: -20%;
  left: 0;
  margin-left: -50%;
  width: 200%;
  height: 90%;
  background-position: 0 0;
  background-image: repeating-linear-gradient(
      90deg,
      var(--grid-color) 0%,
      transparent calc(1px + var(--grid-blur)),
      transparent var(--grid-size),
      var(--grid-color) calc(var(--grid-size) + var(--grid-blur))
    ),
    repeating-linear-gradient(
      180deg,
      var(--grid-color) 0%,
      transparent calc(1px + var(--grid-blur)),
      transparent var(--grid-size),
      var(--grid-color) calc(var(--grid-size) + var(--grid-blur))
    );
  transform: perspective(50vh) rotateX(60deg) translateZ(10px);
  animation: moving-grid-diagonal 1s infinite linear;
  z-index: -1;
}

@keyframes moving-grid-diagonal {
  0% {
    background-position: var(--grid-size) var(--grid-size);
  }
  100% {
    background-position: 0 0;
  }
}

/* Coin and Star Styles */
.coin,
.star {
  width: clamp(50px, 10vw, 100px);
  height: clamp(50px, 10vw, 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
}

.starWrap {
  filter: drop-shadow(0px 0 20px gold);
}

.star {
  background-color: var(--star-color);
  background-image: radial-gradient(circle, var(--star-color), darkgoldenrod);
  border-radius: 50%;
  box-shadow: rgba(255, 215, 0, 0.7) 0px 0 20px; /* Gold Glow */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation: rotate-star 2s infinite linear;
  transform-style: preserve-3d;
}

@keyframes rotate-star {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.coin {
  position: relative;
  background-color: var(--coin-color);
  background-image: radial-gradient(circle, var(--coin-color), darkgoldenrod);
  border-radius: 50%;
  box-shadow: rgba(255, 215, 0, 0.7) 0px 0 20px;
  animation: rotate-coin 2s infinite linear;
  transform-style: preserve-3d;
}

.coin::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(8px, 1vw, 20px);
  height: clamp(25px, 4vw, 80px);
  background-color: darkgoldenrod;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

@keyframes rotate-coin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Overlay */
.overlay {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
  background-image: repeating-linear-gradient(
    var(--overlay-color) 0,
    transparent 1px,
    transparent 2px,
    var(--overlay-color) 3px
  );
  pointer-events: none;
}

/* Background */
.background80s {
  background: linear-gradient(
      to bottom,
      var(--background-color) 0,
      var(--primary-color) 24%,
      var(--secondary-color) 45%,
      var(--accent-color) 60%,
      var(--primary-color) 70%,
      /* #343434 95% */
    )
    fixed;
  background-size: 100% var(--background-height, 30vh);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: clamp(15vh, 20vw, 30vh); /* Scales with viewport */
  z-index: -2;
  mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
}

.background80s:before {
  content: "";
  background: linear-gradient(
      to bottom,
      var(--background-color) 0,
      var(--primary-color) 24%,
      var(--secondary-color) 45%,
      var(--accent-color) 60%,
      var(--primary-color) 65%
    )
    fixed;
  width: 100%;
  height: 55%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 0.2;
}

/* Stars */
.stars:after {
  transform: translateY(-40%);
  content: " ";
  border-radius: 100%;
  width: 3px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: 5vw 15vh 2px var(--text-color), 1vw 33vh 0px var(--text-color),
    2vw 25vh 2px var(--text-color), 10vw 10vh 2px var(--text-color),
    12vw 20vh 0px var(--text-color), 30vw 15vh 2px var(--text-color),
    16vw 5vh 2px var(--text-color), 24vw 10vh 0px var(--text-color),
    32vw 40vh 0px var(--text-color), 33vw 35vh 2px var(--text-color),
    12vw 38vh 2px var(--text-color), 24vw 10vh 0px var(--text-color),
    33vw 5vh 2px var(--text-color), 20vw 10vh 0px var(--text-color),
    80vw 10vh 2px var(--text-color), 62vw 20vh 0px var(--text-color),
    60vw 15vh 2px var(--text-color), 70vw 7vh 0px var(--text-color),
    65vw 35vh 2px var(--text-color), 64vw 10vh 0px var(--text-color),
    85vw 2vh 0px var(--text-color), 92vw 40vh 0px var(--text-color),
    75vw 35vh 2px var(--text-color), 90vw 10vh 0px var(--text-color);
  opacity: 0.3;
  animation: glitter 2s infinite;
}

@keyframes glitter {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}

/* Hero Text */
.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0; /* Reset margins */
}

.outrun {
  font-family: "Play";
  font-weight: normal;
  font-size: clamp(9px, 3vw, 30px);
  margin-top: 1rem;
  color: var(--text-color);
}

.glow {
  color: var(--text-color);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px var(--text-color), 0 0 10px var(--text-color),
      0 0 15px var(--primary-color), 0 0 20px var(--primary-color),
      0 0 25px var(--primary-color), 0 0 30px var(--primary-color),
      0 0 35px var(--primary-color);
  }
  to {
    text-shadow: 0 0 10px var(--text-color), 0 0 15px var(--secondary-color),
      0 0 20px var(--secondary-color), 0 0 25px var(--secondary-color),
      0 0 30px var(--secondary-color), 0 0 35px var(--secondary-color),
      0 0 40px var(--secondary-color);
  }
}

.chrome {
  font-family: "Doto";
  font-weight: 900;
  font-size: clamp(20px, 5vw, 110px);
  background-image: linear-gradient(
    var(--primary-color) 0%,
    var(--secondary-color) 70%,
    var(--accent-color) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(245, 242, 242, 0.551);
  -webkit-text-stroke-width: clamp(0.5px, 0.3vw, 1px);
  position: relative;
}

.chrome:before {
  content: attr(data-text);
  text-shadow: -1px -1px 1px var(--primary-color),
    -2px -2px 1px var(--primary-color), -3px -3px 1px var(--primary-color),
    1px 1px 1px #989898, 0px -1px 2px #afaeae, -1px -2px 2px #868585,
    0 0 5px rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  z-index: -1;
}

.titleDecorated {
  font-size: 2.5rem;
  text-align: center;
  -webkit-text-stroke-color: rgba(245, 242, 242, 0.79);
}
