@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  font-family: "Jersey 10", sans-serif;
  color: #d3e5ec;
  font-size: 1.8rem;
}

html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply text-9xl;
    font-family: "Jersey 10", sans-serif;
    text-shadow: 0 0 3px #ff0000, 0 0 6px #ff0000, 0 0 9px #ff0000;
    background: linear-gradient(45deg, #ff0000, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    @apply text-2xl;
  }

  /* category-wrapper: fade/slide in container */
  .category-wrapper {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  .category-wrapper.appeared {
    opacity: 1;
    transform: translateY(0);
  }

  /* folding container for text */
  .category-container {
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top left;
    opacity: 0;
    max-height: 0;
    transition: transform 0.4s ease, max-height 0.4s ease, opacity 0.3s ease;
  }

  .category-container.expanded {
    transform: scaleY(1);
    opacity: 1;
    max-height: 150px; /* adjust as needed */
  }

  /* game-wrapper: fade/slide in container */
  .game-wrapper {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  .game-wrapper.appeared {
    opacity: 1;
    transform: translateY(0);
  }

  .game-container {
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top left;
    opacity: 0;
    max-height: 0;
    transition: transform 0.4s ease, max-height 0.4s ease, opacity 0.3s ease;
  }

  .game-container.expanded {
    transform: scaleY(1);
    opacity: 1;
    max-height: 150px;
  }

  /* tooltip container */
  /* .game-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
} */

  /* tooltip text */
  .tooltip-text {
    visibility: hidden;
    background-color: #000; /* fully opaque for readability */
    color: #fff;
    text-align: left;
    padding: 8px;
    border-radius: 4px;

    position: absolute;
    z-index: 99999;
    top: 120%;
    left: 0;

    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
}
